Client/Project/Library/AnnotationManager
Client/Project/Library/ArtifactDB
Client/Project/Library/ArtifactDB-lock
Client/Project/Library/AssetImportState
Client/Project/Library/BuildPlayer.prefs
Client/Project/Library/BuildSettings.asset
Client/Project/Library/CurrentLayout-default.dwlt
Client/Project/Library/EditorOnlyScriptingSettings.json
Client/Project/Library/EditorOnlyVirtualTextureState.json
Client/Project/Library/EditorSnapSettings.asset
Client/Project/Library/EditorUserBuildSettings.asset
Client/Project/Library/expandedItems
Client/Project/Library/InspectorExpandedItems.asset
Client/Project/Library/LastSceneManagerSetup.txt
Client/Project/Library/
Client/Project/Logs/Packages-Update.log
*.log
Client/Project/obj/
Client/Project/Temp/
Client/Project/Build/
