<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace">

  <variable name="fileFormat"
       value="
            ${newline}date: ${date}
            ${newline}level: ${level}
            ${newline}logger: ${logger}
            ${newline}machinename: ${machinename}
            ${newline}message: ${message}
            ${newline}------------------------------------------------------------" />
  <targets>

    <target name="logfile"
xsi:type="File"
maxArchiveFiles="1"
layout="${fileFormat}"
archiveAboveSize="102400000"
fileName="${basedir}/Logs/${date:format=yyyy-MM}/${shortdate}.log" />

  </targets>
  <!--写入到文件-->
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="file"/>
  </rules>


</nlog>